# Exports
export(aer)
export(boxM)
export(confusionmatrix)
export(coph.tocher)
export(cov2pcov)
export(creategroups)
export(D2.disc)
export(D2.dist)
export(distClust)
export(findSubsample)
export(fitplotsize)
export(gencovtest)
export(mantelTest)
export(mantelPower)
export(multcor.test)
export(optimumplotsize)
export(pathanalysis)
export(raise.matrix)
export(samplesize)
export(singh)
export(tocher)
export(sHe)
export(spatialpred)
export(germinationcount.test)
export(mvpaircomp)

# Imports
import(utils, MASS, boot, stats, graphics, grDevices, datasets)

# S3methods
S3method(tocher, dist)
S3method(singh, default)
S3method(D2.disc, default)
S3method(gencovtest, manova)
S3method(sHe, default)

S3method(print, creategroups)
S3method(print, D2.disc)
S3method(predict, D2.disc)
S3method(print, findSubsample)
S3method(print, mantelTest)
S3method(print, multcor.test)
S3method(print, pathanalysis)
S3method(print, tocher)
S3method(cophenetic, tocher)
S3method(plot, singh)
S3method(print, gencovtest)
S3method(plot, gencovtest)
S3method(print, sHe)
S3method(plot, sHe)
S3method(print, germinationcount.test)
S3method(print, mvpaircomp)